In [2]:

from dotenv import load_dotenv
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType
from langchain.llms import GooglePalm
from langchain.sql_database import SQLDatabase

In [3]:
load_dotenv()
db = SQLDatabase.from_uri("sqlite:///db.sqlite")

In [4]:
toolkit = SQLDatabaseToolkit(db=db, llm=GooglePalm(temperature=0, google_api_key="AIzaSyDsEopmQcXYn2NeLsKAakJ1ckL3ogZ1lYk"))

In [9]:
agent_executor = create_sql_agent(
    llm=GooglePalm(temperature=0, google_api_key="AIzaSyDsEopmQcXYn2NeLsKAakJ1ckL3ogZ1lYk"),
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [11]:
agent_executor.run("Share of apple vs google vs oppo")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: traffic
Thought:traffic is the only table that seems relevant.  I should query the schema of traffic to see what columns I can use.
Action: sql_db_schema
Action Input: traffic
Observation:
CREATE TABLE traffic (
	date_of_metrics DATE NOT NULL,
	total_visits INTEGER DEFAULT 0 NOT NULL,
	brand_name TEXT,
	phone_model TEXT,
	partner TEXT,
	partner_country TEXT,
	partner_region TEXT
)

/*
3 rows from traffic table:
date_of_metrics	total_visits	brand_name	phone_model	partner	partner_country	partner_region
2023-11-12	3418573	None	None	EE	UK	EMEA
2023-11-12	64686	Apple	None	EE	UK	EMEA
2023-11-12	3924	Oppo	None	EE	UK	EMEA
*/
Thought:I should query the traffic table to get the share of apple vs google vs oppo
Action: sql_db_query
Action Input: SELECT brand_name, SUM(total_visits) AS total_visits FROM traffic GROUP BY brand_name ORDER BY total_visits DESC
Observation: [(None, 19397200), ('Samsung', 18189325), ('Apple', 15040787), ('Oppo', 1830609), ('Google', 901047)]
Thought:I now know the final answer
Final Answer: Samsung: 18.19%, Apple: 15.04%, Oppo: 1.83%, Google: 0.9%

> Finished chain.

'Samsung: 18.19%, Apple: 15.04%, Oppo: 1.83%, Google: 0.9%'

In [121]:
agent_executor.run("Total number of visits on samsung's galaxy lineup")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: traffic
Thought:traffic is the only table that seems relevant.  I should query the schema to see what columns I can use.
Action: sql_db_schema
Action Input: traffic
Observation:
CREATE TABLE traffic (
	date_of_metrics DATE NOT NULL,
	total_visits INTEGER DEFAULT 0 NOT NULL,
	brand_name TEXT,
	phone_model TEXT,
	partner TEXT,
	partner_country TEXT,
	partner_region TEXT
)

/*
3 rows from traffic table:
date_of_metrics	total_visits	brand_name	phone_model	partner	partner_country	partner_region
2023-11-12	3418573	None	None	EE	UK	EMEA
2023-11-12	64686	Apple	None	EE	UK	EMEA
2023-11-12	3924	Oppo	None	EE	UK	EMEA
*/
Thought:I should query the total visits for samsung's galaxy lineup
Action: sql_db_query
Action Input: SELECT sum(total_visits) FROM traffic WHERE brand_name = 'Samsung' AND phone_model LIKE '%Galaxy%'
Observation: [(230309,)]
Thought:I now know the final answer
Final Answer: 230309

> Finished chain.

'230309'

In [126]:
agent_executor.run("Total number of visits on 2023-11-05 on samsung's galaxy lineup")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: traffic
Thought:traffic is the only table that seems relevant.  I should query the schema of traffic to see what columns I can use.
Action: sql_db_schema
Action Input: traffic
Observation:
CREATE TABLE traffic (
	date_of_metrics DATE NOT NULL,
	total_visits INTEGER DEFAULT 0 NOT NULL,
	brand_name TEXT,
	phone_model TEXT,
	partner TEXT,
	partner_country TEXT,
	partner_region TEXT
)

/*
3 rows from traffic table:
date_of_metrics	total_visits	brand_name	phone_model	partner	partner_country	partner_region
2023-11-12	3418573	None	None	EE	UK	EMEA
2023-11-12	64686	Apple	None	EE	UK	EMEA
2023-11-12	3924	Oppo	None	EE	UK	EMEA
*/
Thought:I should write a query to get the total number of visits on 2023-11-05 on samsung's galaxy lineup.
Action: sql_db_query
Action Input: SELECT total_visits FROM traffic WHERE date_of_metrics = '2023-11-05' AND brand_name = 'Samsung' AND phone_model LIKE '%Galaxy%'
Observation: [(638,), (7829,), (2764,), (8155,), (8133,), (5704,), (6002,), (1288,), (0,), (0,)]
Thought:I now know the final answer
Final Answer: 638

> Finished chain.

'638'

In [124]:
agent_executor.run("Compare number of visits on samsung's galaxy lineup and apple's iphone 14 models on 2023-11-05")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: traffic
Thought:traffic is the only table that seems relevant.  I should query the schema of traffic to see what columns I can use.
Action: sql_db_schema
Action Input: traffic
Observation:
CREATE TABLE traffic (
	date_of_metrics DATE NOT NULL,
	total_visits INTEGER DEFAULT 0 NOT NULL,
	brand_name TEXT,
	phone_model TEXT,
	partner TEXT,
	partner_country TEXT,
	partner_region TEXT
)

/*
3 rows from traffic table:
date_of_metrics	total_visits	brand_name	phone_model	partner	partner_country	partner_region
2023-11-12	3418573	None	None	EE	UK	EMEA
2023-11-12	64686	Apple	None	EE	UK	EMEA
2023-11-12	3924	Oppo	None	EE	UK	EMEA
*/
Thought:I should query the traffic table to get the number of visits on samsung's galaxy lineup and apple's iphone 14 models on 2023-11-05
Action: sql_db_query
Action Input: SELECT total_visits FROM traffic WHERE date_of_metrics = '2023-11-05' AND (brand_name = 'Samsung' AND phone_model LIKE '%Galaxy%') OR (brand_name = 'Apple' AND phone_model LIKE '%iPhone 14%')
Observation: [(638,), (7829,), (2764,), (8155,), (8133,), (5704,), (4706,), (6002,), (1288,), (1008,), (2163,), (0,), (0,), (2113,), (889,), (1996,), (1968,), (1375,), (4655,), (3988,), (824,), (883,), (4414,), (1073,), (4254,)]
Thought:I now know the final answer
Final Answer: Samsung: 638, Apple: 7829

> Finished chain.

'Samsung: 638, Apple: 7829'